.container {
  display: flex;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: calc(100vh - 200px);
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 64px;
}

.detail {
  display: flex;
  gap: 20px;
  align-items: center;
}

.detailText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailTitle {
  color: gray;
  font-weight: bold;
}

.detailValue {
  font-weight: 500;
}

.content {
  font-size: 20px;
}

@media (max-width: 768px) {
  .imgContainer {
    display: none;
  }
}
.custom-shape-divider-bottom-1709141613 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1709141613 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1709141613 .shape-fill {
  fill: #fff266;
}
