.container {
  display: flex;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: calc(100vh - 200px);
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 64px;
}

.detail {
  display: flex;
  gap: 20px;
  align-items: center;
}

.detailText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailTitle {
  color: gray;
  font-weight: bold;
}

.detailValue {
  font-weight: 500;
}

.content {
  font-size: 20px;
}

@media (max-width: 768px) {
  .imgContainer {
    display: none;
  }
}
.custom-shape-divider-bottom-1709141613 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1709141613 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1709141613 .shape-fill {
  fill: #fff266;
}
.codeContainer {
  background-color: #2d2d2d; /* Dark background for the code block */
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
  position: relative;
  overflow: auto;
  position: relative;
}

.glow {
  box-shadow: 0 0 10px rgba(81, 203, 238, 1), 0 0 20px rgba(81, 203, 238, 1),
    0 0 40px rgba(81, 203, 238, 1), 0 0 80px rgba(81, 203, 238, 1);
}
.copyButton {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #0070f3; /* Adjust the color to match your design */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.copyButton:hover {
  background-color: #0056b3; /* Darker shade for hover state */
}
